html {
    text-align: center;
}

body {
    font-family: 'Muli', sans-serif;
}

#tasks {
    border-collapse: collapse;
    width: 100%;
}

#tasks td,
#tasks th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tasks tr {
}

#tasks th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04aa6d;
    color: white;
}

.status[data-status='true'] {
    background-color: lightgreen;
}

.status[data-status='false'] {
    background-color: white;
}
